{% extends "base.html" %}
{% block title %}page1{% endblock %}
{% block content %}
<div class="page22">
		<h1>Similarity Checker</h1>
		<div class="first">
			<h2>First image</h2>
	        <div>
		        <image src="{{ url_for('static', filename='images/'+file) }}" class="upload-img" width=500 height=360>
		    </div>
		</div>
		<div class="second">
			<h2>Second image</h2>
		        <div>
		            <image src="{{ url_for('static', filename='images/'+filename) }}" class="upload-img" width=500 height=360>
		        </div>
		</div>
		<form method="post" action="/chpage22/{{file}}" enctype="multipart/form-data" class="browse">
			<input type="file" name="file" class="form-control" autocomplete="off" required>
			<input type="submit" value="Upload" class="btn btn-info">
		</form>
</div>
<div class="inside-page22">
   <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'page23') }}';">Check</button> 
</div>
{% endblock %}