{% extends "base.html" %}
{% block title %}page1{% endblock %}
{% block content %}
<div class="page2">
	<h1>Remove the Mask</h1>
	<div>
		<h2>Select an image</h2>
	    {% if filename %}
	        <div>
	            <image src="{{ url_for('static', filename='images/'+filename) }}" class="upload-img" width=500 height=360>
	        </div>
	    {% endif %}
	    <p>
	        {% with messages = get_flashed_messages() %}
	          {% if messages %}
	            <ul>
	            {% for message in messages %}
	              <li>{{ message }}</li>
	            {% endfor %}
	            </ul>
	          {% endif %}
	        {% endwith %}
	    </p>
		<form method="post" action="/chpage21" enctype="multipart/form-data" class="page2-browse">
			<input type="file" name="file" class="form-control" autocomplete="off" required>
			<input type="submit" value="Run" class="btn btn-info">
		</form>
	</div>
</div>
{% endblock %}