{% extends "base.html" %}
{% block title %}page1{% endblock %}
{% block content %}
<div class="page21">
	<div>
		<h2>Processed image</h2>
	    {% if filename %}
	        <div>
	            <image src="{{ url_for('static', filename='images/'+filename) }}" class="upload-img" width=500 height=360>
	        </div>
	    {% endif %}
	    <div class="f1">
		    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'chpage22', fname=filename) }}';">Check Similarity Checker</button>    
		</div>
		<div class="f2">
		    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'chpage221', fname=filename) }}';">Check Suspect Checker</button>     
		</div>
		<div class="f3">
		    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'home') }}';">Go to home</button> 
		</div>
		</div>
	</div>
</div>
{% endblock %}